body {
    background-image: url('HomeBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
}

.home-content {
    padding: 300px;
    text-align: center;
}

.button-container {
    margin-top: 20px;
}

.btn {
    background-color: #7e7e7e;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #333;
}
