@keyframes fadeIn {
    0% {opacity: 0;}
    30% {opacity: 1;}
    50% {opacity: 2;}
    70% {opacity: 3;}
    90% {opacity: 4;}
    100% {opacity: 5;}
}
body {
    background-image: url('HomeBG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
    animation: fadeIn;
    animation-duration: 3s;
}

.home-content {
    padding: 300px;
    text-align: center;
    animation: fadeIn;
    animation-duration: 3s;
}

.button-container {
    margin-top: 20px;
    animation: fadeIn;
    animation-duration: 3s;
}

.btn {
    background-color: #7e7e7e;
    color: #fff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    font-size: 18px;
    text-decoration: none;
    transition: background-color 0.3s;
    animation: fadeIn;
    animation-duration: 3s;
}

.btn:hover {
    background-color: #333;
    transform: scale(1.5,1.5);
    animation: fadeIn;
    animation-duration: 3s;
}
